* {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.menuBtn.active span:nth-of-type(1) {
  display: none;
}

.menuBtn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menuBtn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.menuBtn {
  margin-left: 85%;
  cursor: pointer;
  width: 100px;
  height: 30px;
  position: fixed;
  z-index: 200;
  overflow: hidden;
  display: none;
}

.menuBtn span {
  width: 34px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  background-color: white;
  transition: all 0.5s;
}

.menuBtn span:nth-of-type(2) {
  top: calc(20% - 5px);
}

.menuBtn span:nth-of-type(3) {
  top: calc(80% + 5px);
}

header img {
  -o-object-fit: cover;
     object-fit: cover;
}
header .header-up {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #00296b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .header-up button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  background-color: #FF6E28;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 250px;
  margin-right: 1%;
  color: white;
  font-size: 20px;
  transition: 0.5s;
}
header .header-up button:hover {
  background-color: #252525;
}
header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
header ul a {
  text-decoration: none;
  font-weight: 200;
  color: white;
  font-size: 20px;
  padding: 20px;
  transition: 0.5s;
}
header ul a:hover {
  color: #FF6E28;
}
header ul a.active {
  color: #FF6E28;
}

hr {
  margin-top: 7%;
  border: 1px solid rgba(179, 179, 179, 0.2);
}

body {
  background-color: #252525;
}

/*.chemistry{
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: white;
  h2{
    text-align: center;
    color: #00296b;
    font-weight:400;
  }
  .chemistry-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .chemisty-katal{
      padding-top: 4%;
    }
    .chemisty-katal a{
      display: flex;
      flex-direction:column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 200px;
      text-align: center;
      text-decoration: none;
      color: #00296b;
      font-weight:400;
    }
  }
}
*/
.company {
  background-image: url(/img/fon-kolba.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
.company .company-fon {
  background-color: rgba(105, 105, 105, 0.9);
  width: 100%;
}
.company .company-fon h2 {
  text-align: center;
  font-size: 45px;
  color: white;
  padding-top: 5%;
}
.company .company-fon p {
  text-align: center;
  font-size: 35px;
  color: white;
  padding-top: 4%;
}
.company .company-fon p:nth-of-type(2) {
  font-size: 20px;
  color: black;
}
.company .company-fon .company-fon__icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 5%;
  padding-bottom: 5%;
}
.company .company-fon .company-fon__icon .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
}
.company .company-fon .company-fon__icon p {
  padding-top: 4%;
  color: white;
  font-size: 20px;
}
.company .company-fon .company-fon__icon h2 {
  padding-top: 4%;
  color: white;
  font-size: 25px;
}

.catalogy {
  margin-top: 7%;
  padding: 60px;
}
.catalogy .catalogy-text {
  margin-left: 3%;
}
.catalogy .catalogy-text h2 {
  font-size: 45px;
  font-weight: 200;
  color: white;
}
.catalogy .catalogy-text p {
  color: white;
  padding-top: 1%;
  font-size: 20px;
}
.catalogy .catalogy-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.catalogy .catalogy-btn button {
  border: none;
  margin: 20px;
  width: 540px;
  height: 129px;
  cursor: pointer;
  font-size: 50px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
  transition: 1s;
}
.catalogy .catalogy-btn button:hover {
  transform: scale(1.2);
}
.catalogy .catalogy-btn .kislota {
  background-image: url(/img/kolba.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}
.catalogy .catalogy-btn .kislota p {
  padding: 30px;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  background-color: rgba(105, 105, 105, 0.5);
  height: 129px;
  padding-top: 50px;
}
.catalogy .catalogy-btn .sir {
  background-image: url(/img/sir.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}
.catalogy .catalogy-btn .sir p {
  padding: 30px;
  padding-top: 50px;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  background-color: rgba(105, 105, 105, 0.5);
  height: 129px;
}
.catalogy .catalogy-btn .soda {
  background-image: url(/img/soda.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}
.catalogy .catalogy-btn .soda p {
  padding: 30px;
  padding-top: 50px;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  background-color: rgba(105, 105, 105, 0.5);
  height: 129px;
}
.catalogy .catalogy-btn .reagent {
  background-image: url(/img/reagent.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}
.catalogy .catalogy-btn .reagent p {
  padding: 30px;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  background-color: rgba(105, 105, 105, 0.5);
}

.advan {
  margin-top: 4%;
  padding: 60px;
  background-color: rgba(105, 105, 105, 0.2);
}
.advan h2 {
  margin-left: 3%;
  font-size: 45px;
  font-weight: 200;
  color: white;
}
.advan .advan-position {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}
.advan .advan-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  margin-top: 5%;
  text-align: center;
}
.advan .advan-block p {
  padding-top: 5%;
  font-size: 25px;
  color: white;
}

footer {
  background-color: #00296b;
}
footer .footer-bottom {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
footer .footer-bottom h2 {
  color: white;
  font-size: 35px;
}
footer .footer-bottom .bottom-text h2 {
  color: white;
  font-weight: 200;
  font-size: 20px;
  margin-top: 3%;
}
footer .footer-bottom .bottom-text__link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 4%;
}
footer .footer-bottom .bottom-text__link p {
  color: white;
  font-size: 20px;
}
footer .footer-bottom .bottom-text__link a {
  text-decoration: none;
  color: #FF6E28;
}
footer hr {
  margin-top: 0%;
}

.prava {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.prava h2 {
  color: white;
  font-size: 17px;
  font-weight: 200;
}
.prava a {
  text-decoration: none;
  color: #FF6E28;
}/*# sourceMappingURL=style.css.map */